<div class="container p-4">
  <div class="row">

    <div class="col-md-auto mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>SignIn</h3>
        </div>
        <div class="card-body">
          <form action="/signin" method="POST">


            <div class="row">

              <div class="col-md-auto ml-3 mr-3 ">
                <h5 class=" text-dark mb-2 mt-2">
                  <strong>Usuario:</strong>
                </h5>
              </div>

              <div class="col-md-auto mt-1 ml-1">
                   <div class="form-group">
              <input type="text" name="username" placeholder="Usuario" class="form-control" autofocus>
            </div>
              </div>

            </div>

       <div class="row">

               <div class="col-md-auto">
                <h5 class=" text-dark mb-2 mt-2">
                  <strong>Contraseña:</strong>
                </h5>
              </div>

              <div class="col-md-auto ">
                    <div class="form-group">
              <input type="password" name="password" placeholder="Contraseña" class="form-control">
            </div>
              </div>

             </div>
            <button class="btn btn-primary btn-block col-md-4">
              Acceder
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>